IAM SampleApp/bin/AndroidManifest.xml
IAM SampleApp/bin/IAM SampleApp.apk
IAM SampleApp/bin/classes.dex
IAM SampleApp/bin/classes/com/att/iamsampleapp/BuildConfig.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/Config.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$1.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$2.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$3.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$createMessageIndexListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$deleteMessagesListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$getDeltaListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$getMessageIndexInfoListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$getMessageListListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$getMessageListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList$updateMessageStatusListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ConversationList.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ListCustomAdapter$ViewHolder.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/ListCustomAdapter.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/NewMessage$1.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/NewMessage$sendMessageListener.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/NewMessage.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$attr.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$dimen.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$drawable.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$id.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$layout.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$menu.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$string.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R$style.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/R.class
IAM SampleApp/bin/classes/com/att/iamsampleapp/Utils.class
IAM SampleApp/bin/dexedLibs/android-support-v4-b9605997e9035f9bb19a292a2ddc42cc.jar
IAM SampleApp/bin/dexedLibs/iamsdk-6d5d24c6c9f17330422058719811e354.jar
IAM SampleApp/bin/res/crunch/drawable-hdpi/act_settings.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/btn_compose.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/btn_favorite.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/btn_newmessage.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/btn_notfavorite.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/ic_addcontact.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/ic_attachment.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/ic_launcher.png
IAM SampleApp/bin/res/crunch/drawable-hdpi/ic_transparent.png
IAM SampleApp/bin/res/crunch/drawable-ldpi/ic_launcher.png
IAM SampleApp/bin/res/crunch/drawable-mdpi/ic_launcher.png
IAM SampleApp/bin/res/crunch/drawable-xhdpi/ic_launcher.png
IAM SampleApp/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
IAM SampleApp/bin/resources.ap_
